*{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    border: 1px solid red!important;
    #menu{
        width: 100%!important;
        
        
    }
    .collapse{
      
       .itens{
            a{
               text-decoration: none!important;
           }
        }
    }
}

